body {
  font-family: "Poppins", sans-serif;
}
.logo-imagen{
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-top: 38px;
  margin-bottom: 37px;
}
.logo__title{
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 21px;
}
/*Línea de separación de secciones*/
.lineahoriz {
  width: 100%;
}
/*Novedades Parte 1*/

/*Novedades Parte 2*/

/*Novedades Parte 3*/

/*Populares Parte 1*/

/**/




/* Poppins regular (400)
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

/* Poppins medium (500)
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
*/

/* Poppins bold (700)
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/

