body {
  font-family: "Poppins", sans-serif;
}
.logo-imagen{
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-top: 38px;
  margin-bottom: 37px;
}
.logo__title{
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 21px;
}
/*Línea de separación de secciones*/
.lineahoriz{
  width: 100%;
}
/*Novedades Parte 1*/
.title__Novedades{
  font-size: 28px;
  font-weight: 700;
}
.img__bootstrap{
  width: 600px;
  height: 300px;
  border-radius: 20px;
}
.date-Nov{
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.title-img{
  font-size: 24px;
  font-weight: 700;
}
.logo-desafiolatam{
  width: 60px;
  height: 60px;
  border-radius: 77px;
}
.title-desafiolatam{
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
}
/*Novedades Parte 2*/
.img-novedades{
  width: 189px;
  height: 145px;
  border-radius: 20px;
  margin-bottom: 20px;
}
/*Novedades Parte 3*/
.date__Nov--info{
  font-size: 16px;
  font-weight: 400;
}
.title__img--info{
  font-size: 20px;
  font-weight: 700;
}
.logo__desafiolatam--info{
  width: 40px;
  height: 40px;
  border-radius: 77px;
}
.title__desafiolatam--info{
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
}
/*Populares Parte 1*/

/**/




/* Poppins regular (400)
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

/* Poppins medium (500)
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
*/

/* Poppins bold (700)
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/

